body {
    display: flex;
    flex-direction: row;
}

.left-container {
    width: 40%;
    /* height: 100%; */
    background-image: url("assets/jungle.jpg");
}

.left-container img {
    width:100%;
}